<nav class="nav has-shadow">
  <div class="nav-left">
    <a class="nav-item">
    <img src="../assets/logo.png" />
    </a>
  </div>
  <div class="nav-right">
    <a class="nav-item ">
    <div class="block">
      <a class="button">Cadastre-se</a>
      <a class="button" > Acesse</a>
    </div>
    </a>
  </div>
</nav>
